# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
# It's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sqlite
*.sqlite3
*.db

# Visual Studio files #
#######################
# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2019
.vs/
*.vscode/

# Rider
.idea/
*.sln.iml

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

# NuGet Packages
*.nuget.props
*.nuget.targets

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Roslyn cache directories
*.ide/
*.sln.ide

# Tools
_ReSharper*/
_Tools/

# Power Mode II
*.energy

# Fody
FodyWeavers.xml

# Unwanted file types
*.bat
*.cmd
*.cur
*.dll
*.dll.config
*.ini
*.md
*.png
*.pdb
*.resources
*.resx
*.sln
*.tmp
*.userprefs
*.vsconfig
*.vssscc
*.vsix
*.vstemplate
*.xcuserdata
*.xcworkspace