# Arquivos temporários gerados pelo Visual Studio
vs\
.vs
vs/
bin/
obj/
/bin//
/obj/

# Arquivos de compilação
*.dll
*.pdb
*.exe

# Arquivos gerados pelo NuGet
packages/

# Arquivos de log e caches
*.log
*.cache

# Arquivos de configuração do Visual Studio
*.user
*.suo
*.sln.docstates

# Arquivos de configuração específicos do projeto
*.csproj.user
*.config.user

# Arquivos de análise de código
*.sln.ide
*.csproj.ide
